{% extends 'base.html' %}
{% block content %}

<h1>Update</h>

<form action="/user_update" method="POST">

   <div>
        <label>
            First name
            <input type="fname" name="fname">                   
        </label>       
    </div>


   <div>
        <label>
            Last name
            <input type="lname" name="lname">                   
        </label>       
    </div>


    <div>
        <label>
            Email
            <input type="email" name="email">       
        </label>       
    </div>  


    <div>
        <label>
            Password
            <input type="password" name="password">       
        </label>       
    </div>


    <div>
        <label>
        What kind of user are you 
        <input type="radio" name="check" value="venue">Venue 
        <input type="radio" name="check" value="performer">Performer  
               
        </label>       
    </div>

    <div>     
        <input type="submit" name="Update">                     
    </div>
</form>

{% endblock %}