{% extends 'base.html' %}
{% block content %}


<h1>Venue Page<h1>


<h3>User Name => {{ user_fname }}  {{ user_lname}} </h3>
<h3>User Email => {{ user_email }}</h3>
<h3>User ID =>  {{ user_id}}</h3>




<h4><form action="/new_venue_page/{{ user_id }}" method="POST">

    <div>
        Name of the venue <input type="text" name="venue_name"><br>
        Website <input type="venue_url" name="venue_url"><br> 
        Email <input type="email" name="venue_email"><br>
        Address <input type="text" name="venue_address"><br>
        City <input type="text" name="venue_city"><br><br>   
      

        Type of venue<select name="venue_type">
                    <option value="bar">bar</option>
                    <option value="cafe">cafe</option>
                    <option value="hall">hall</option>
                    <option value="night club">night club</option>
                    <option value="restaurant">restaurant</option>
                    <option value="special event">special event</option>
                    <option value="theater">theater</option>
                    <option value="other">Other</option></select><br><br>  

        Is there a backspace/dressing room: 
                  Yes<input type="radio" name="venue_backspace" value="yes">
                  No<input type="radio" name="venue_backspace" value="no"><br><br>

        Capacity    <input type="text" name="venue_capacity"><br><br>  


        Do you have a cabaret license:
                    Yes<input type="radio" name="cabaret_license" value="yes">
                    No<input type="radio" name="cabaret_license" value="no"><br><br>


        Day of the day = >
                  Monday<input type="checkbox" name="monday" value="yes">
                  Tuesday<input type="checkbox" name="tuesday" value="yes">
                  Wednesday<input type="checkbox" name="wednesday" value="yes">
                  Thursday<input type="checkbox" name="thursday" value="yes">
                  Friday<input type="checkbox" name="friday" value="yes">
                  Saturday<input type="checkbox" name="saturday" value="yes">
                  Sunday<input type="checkbox" name="sunday" value="yes"><br><br>


        Time available =>
                  Morning<input type="checkbox" name="morning" value="yes">
                  Late morning<input type="checkbox" name="late_morning" value="yes">
                  Early night<input type="checkbox" name="early_night" value="yes">
                  Late night<input type="checkbox" name="late_night" value="yes"><br><br>
               

        How much is the space per hour =>  <input type="text" name="venue_rent"><br><br> 


        Looking to fill the space for free: 
                    Yes<input type="radio" name="venue_free" value="yes">
                    No<input type="radio" name="venue_free" value="no"><br><br>  

           <div>     
        <input type="submit" name="Add">                     
    </div>

            
</div>
    
 </form></h4>

    


{% endblock %}







