{% extends 'base.html' %}
{% block content %}






<h3>User Name => {{ user_fname }}  {{ user_lname}} </h3>
<h3>User Email => {{ user_email }}</h3>
<h3>User ID =>  {{ user_id}}</h3>

 <div><h1>Add a Show<h1></div>


  <form action="/new_show_page/{{user_id}}" method="POST">

      <div>


        Show Name <input type="text" name="show_name"><br>
        Website <input type="show_url" name="show_url"><br> 
      
      

    
       Location preference (city) <select name="show_location_preferred" multiple=""><br>
                    <option value="anywhere">Anywhere</option>
                    <option value="berkeley,">Berkeley</option>
                    <option value="burlingame,">Burlingame</option>
                    <option value="daly_city">Daly City</option>
                    <option value="dublin">Dublin</option>
                    <option value="emeryville">Emeryville</option>
                    <option value="palo_alto">Palo Alto</option>
                    <option value="san_francisco">San Francisco</option>
                    <option value="san_jose">San Jose</option>
                    <option value="santa_Clara">Santa Clara</option>
                    <option value="sunnyvale">Sunnyvale</option></select><br>





       What kind of Show<select name="show_type"><br>
                    <option value="stand_up">stand_up</option>
                    <option value="improv,">improv</option>
                    <option value="music">music</option>
                    <option value="spoken_word">spoken word</option>
                    <option value="burlesque">burlesque</option>
                    <option value="play">play</option>
                    <option value="Ted_talk">Ted_talk</option>
                    <option value="skecks">skecks</option></select><br>


        How many people in the show (on stage and backstage)<input type="text" name="show_amount_people"> <br>


        Do you need a dressing room 
                    Yes<input type="radio" name="show_dressing_room" value="yes">
                    No<input type="radio" name="show_dressing_room" value="no"><br>

        How long is the show:
                    <input type="text" name="show_length"><br>

                     

        Day of the day = >
                  Monday<input type="checkbox" name="monday" value="yes">
                  Tuesday<input type="checkbox" name="tuesday" value="yes">
                  Wednesday<input type="checkbox" name="wednesday" value="yes">
                  Thursday<input type="checkbox" name="thursday" value="yes">
                  Friday<input type="checkbox" name="friday" value="yes">
                  Saturday<input type="checkbox" name="saturday" value="yes">
                  Sunday<input type="checkbox" name="sunday" value="yes"><br>


        Time available =>
                  Morning<input type="checkbox" name="morning" value="yes">
                  Late morning<input type="checkbox" name="late_morning" value="yes">
                  Early night<input type="checkbox" name="early_night" value="yes">
                  Late night<input type="checkbox" name="late_night" value="yes"><br>


        Is it a free show?
                  Yes<input type="radio" name="show_ticket_price" value="free">
                  No<input type="radio" name="dressroom" ><br>

        If no how mucho for the the tickets?:

                    <input type="text" name="show_ticket_price"> <br> 

          
        How much do you are you looking to pay for rent <input type="text" name="show_rent"> <br> 
      

  


                     <input type="submit" value="Submit">             

       </div>
    
 </form>








{% endblock %}







