* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


body {

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #FFAF00

}


}

.navbar {
 background-color: #000000 !important;
/* background-color: rgba(255,255,255,0.5) !important;*/
 /*opacity: 0.9;*/
 line-height: .4;
}


.nav-link{
    color: #FFAF00;
    font-size: 150%;

}


#home-text{
color: #FFAF00;
text-align: left;
font-size: 160%;
}





.form_login {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}

.align-center_login {
    
    text-align:center;
}















