/*base from before the is the base for the whole side*/
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


body {

  font-family: "Montserrat", "Lato", "Quicksand", "Roboto", "Raleway", "Open Sans", sans-serif;
  font-size: medium;
  line-height: 1.4;
  background-color: 
  color: white;

}
/*-------------------------------*/
/*rows*/

.big-row {
  height: 120px;
}

/*------------------------------*/

/*letters*/

.big-letter-Lato{
font-size: 120%;
font-family: "Lato" sans-serif;
color: black;
}




.big-letter-M-White{
font-size: 130%;
font-family: "Montserrat" sans-serif;
color: white;
}

/*----------------------------*/
/*pic*/

#img {
  height: 100px;
  border: solid 1px black;
}

/*--------------------------*/
/*line*/

.line {
  border: 1px solid white;
}


/*-------------------------------*/
/*land page*/

.bravo-page {
  background: url("/static/img/kilyan-sockalingum-nW1n9eNHOsc-unsplash.jpg") no-repeat center center;
  background-size: cover;

 }


.bravo-big-row {
  height: 1000px;
}

/*--------------------------*/

/*The nav bar*/
.navbar {
 background-color: #000000 !important;
 line-height: 2.4;
}


.nav-link{
color: #f35050;
font-size: 150%;

}

#home-text{
color: #f35050;
text-align: left;
font-size: 360%;
margin-left: 40px
}



/*------------------------------------*/
 /*The login, register and updateUsers froms*/

.form-login {
    background-color: transparent;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:10px;
    border:1px solid #fff;
    height: 320px;

  }


.align-center_login {
    
    text-align:center;
}



.login-page {
  background: url("/static/img/darius-soodmand-E-_I18oX5NQ-unsplash.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}



.signin-page {
  background: url("/static/img/carson-masterson-g-23pY-8I20-unsplash copy 2.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}



.form-sigin {
    background-color: transparent;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:10px;
    border:1px solid #fff;
    height: 400px;

  }



.form-update {
    background-color: transparent;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:10px;
    border:1px solid #fff;
    height: 400px;

  }


.update_form {
  background: url("/static/img/matthias-wagner-QrqeusbpFMM-unsplash.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}




/*--------------------------------*/


/*show page*/


#producer-img {
  height: 300px;
  border: solid 1px black;
}


.venue-update {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center center;
  background-size: cover;
  color: black;
}


.shows-update {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center center;
  background-size: cover;
  color: black;
}

.big-row-update{
  height: 120px;
}


.big2-row-update{
  height: 50px;
}

.producer-box {
  background: url("/static/img/patterns/spiration dark.png") no-repeat center center;
  color: white;
  padding:20px;
  border-radius:110px;
  border:1px solid #fff;
  height: 585px;
}


.left-col-black {
  width: 25%;
  height: 100%;
  background-image: url("/static/img/patterns/spiration dark.png");
  color: white;
}


.left-col {
  width: 220%;
  height: 1000%;
  background-image: url("/static/img/patterns/spiration-light.png");
  color: black;
}


.my-text{ 
  top:20px;          
  height:500px; 
  background: url("/static/img/patterns/spiration-light.png");
  border:1px solid #ccc;
  overflow:auto;
  color: black;
}


.producer-page {
  background: url("/static/img/patterns/spiration dark.png") no-repeat center center;
  background-size: cover;
  color: white;
}


.shows-page {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center center;
  background-size: cover;
  color: black;
}

.shows-page-text{ 
  top:20px;          
  height:1100px; 
  background: url("/static/img/patterns/spiration dark.png");
  border:1px solid #ccc;
  overflow:auto;
  color: white;
}


.table {
border: transparent 1px !important;
}



.table td{
    border: transparent 1px !important;
}



.table th{
    border: transparent 1px !important;
}



/*--------------------------*/
/*Venue Page (vp)*/


.backgroud-vp {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center;
  background-size: cover;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 180vh;
}


.top-container-vp {
  display: flex;
  height: 150px; 
  background-color: #c50013;
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
}


.user-name-container-vp{
  display: flex;
  height: 150px;
}


.user-name-vp{
  font-size: 60px;
  margin-top: 20px;  
}

.top-links-container-vp{
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 30px;
  height: 150px;
  align-items: center;
}


.nornal-letter-M-White-vp{
font-family: "Montserrat" sans-serif;
color: white;
font-size: 20px;
margin-left: 30px;
}


.little-letter-M-White-vp{
  margin-top: 10px;
  font-size: 15px;
}


.top-line-vp {
  border: 1px solid #d3b0b0;
  box-shadow: 2px 4px 12px 2px #99999982, 0 6px 20px 0 #cfcfcf8c
}


.text-top-container-vp{
  display: flex;
}

.text-container-vp{
  display: flex;
}


.text-mid-container-vp{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  border-radius: 25px;
  box-shadow: 2px 4px 12px 2px #6c757d82, 0 6px 20px 0 #6c757d8c;
  margin-right: 15%;
  margin-left: 15%;
  padding: 20px;        
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
  color: white;
}


.info-container-vp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.info-column-vp {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}


.little-letter-info-vp{
 justify-content: space-between;

}

.flex-vp {
  display: flex;
  align-items: center;
  align-content: center;
}


.p-vp{
  font-size: 100%;
  width: 200px;
  margin: 0;
  color: #f1d6b5;
}


.p2-vp{
  font-size: 180%;
 
}


.form-line-vp {
  border: 1px solid white;
}


.text-time-container-vp{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: 2px 4px 12px 2px #6c757d82, 0 6px 20px 0 #6c757d8c;
  margin-right: 6%;
  margin-left: 6%;
  padding: 30px;        
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
  color: white;
  align-items: center;
  justify-content: center;
      
}

.row-time-vp{
  display: flex;
  align-self: center; 
}


.time-little-letter-vp{
 display: flex;
 flex-direction: column;
  margin: 2%;
  align-self: center;
  color: #f1d6b5;
}


.time-little2-letter-vp{
 display: flex;
 flex-direction: column;
  margin: 2%;
  align-self: center;
  color: white;
  font-size: 100%; 
}


.text-time2-container-vp{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: 2px 4px 12px 2px #6c757d82, 0 6px 20px 0 #6c757d8c;
  margin-right: 15%;
  margin-left: 15%;
  padding: 15px;        
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
  color: white;
  align-items: center;
  justify-content: center;
      
}


.button-vp{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 25px;
  box-shadow: 2px 4px 12px 2px #6c757d82, 0 6px 20px 0 #6c757d8c;
  margin-right: 35%;
  margin-left: 35%;
  padding: 20px;        
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
  color: white;
  align-items: center;
  justify-content: center;
}


/*-----------------------*/
/*Venue Update*/

.mid-letter-uv{
  font-size: 130%;
  margin-block-end: 10%;

}



/*-----------------------*/
/*User Update*/

.backgroud-up {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center;
  background-size: cover;
  color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 180vh;
}


.form-up{
    display: block;
    width: 100%;

}



/*-----------------------*/
/*Matching*/

.backgroud-m {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center;
  background-size: cover;
  color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 180vh;
}

.top-container-m {
  display: flex;
  height: 150px; 
  background-color: #c50013;
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
}

.top-links-container-m{
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 30px;
  height: 150px;
  align-items: center;
}

.user-name-container-m{
  display: flex;
  height: 150px;
  margin-left: 5%;
}


.nornal-letter-M-White-m{
font-family: "Montserrat" sans-serif;
color: white;
/*font-size: 20px;
margin-left: 30px;*/
}


.nornal2-letter-M-White-m{
font-family: "Montserrat" sans-serif;
color: white;
margin-right: 15px;
/*font-size: 20px;
margin-left: 30px;*/
}

.little-letter-M-White-m{
  margin-top: 10px;
  font-size: 15px;
}

.user-name-m{
  font-size: 60px;
  margin-top: 20px;  
}



.top-line-m {
  border: 1px solid #d3b0b0;
  box-shadow: 2px 4px 12px 2px #99999982, 0 6px 20px 0 #cfcfcf8c
}

.info-container-m {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}




.text-mid-container-m{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  border-radius: 25px;
  box-shadow: 2px 4px 12px 2px #6c757d82, 0 6px 20px 0 #6c757d8c;
  margin-right: 15%;
  margin-left: 15%;
  padding: 20px;        
  background-image: linear-gradient(45deg, #bca5a5, #7e7677);
  color: white;
}







