/*base from before the is the base for the whole side*/
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


body {

  font-family: "Montserrat", "Lato", "Quicksand", "Roboto", "Raleway", "Open Sans", sans-serif;
  font-size: medium;
  line-height: 1.4;
  background-color: 
  color: white;

}
/*-------------------------------*/
/*rows*/

.big-row {
  height: 120px;
}

/*------------------------------*/

/*letters*/

.big-letter-Lato{
font-size: 120%;
font-family: "Lato" sans-serif;
color: black;
}




.big-letter-M-White{
font-size: 130%;
font-family: "Montserrat" sans-serif;
color: white;
}

/*----------------------------*/
/*pic*/

#img {
  height: 100px;
  border: solid 1px black;
}

/*--------------------------*/
/*line*/

.line {
  border: 1px solid white;
}


/*-------------------------------*/
/*land page*/

.bravo-page {
  background: url("/static/img/kilyan-sockalingum-nW1n9eNHOsc-unsplash.jpg") no-repeat center center;
  background-size: cover;

 }


.bravo-big-row {
  height: 1000px;
}

/*--------------------------*/

/*The nav bar*/
.navbar {
 background-color: #000000 !important;
 line-height: 2.4;
}


.nav-link{
color: #f35050;
font-size: 150%;

}

#home-text{
color: #f35050;
text-align: left;
font-size: 360%;
margin-left: 40px
}



/*------------------------------------*/
 /*The login, register and updateUsers froms*/

.form-login {
    background-color: transparent;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:10px;
    border:1px solid #fff;
    height: 320px;

  }


.align-center_login {
    
    text-align:center;
}



.login-page {
  background: url("/static/img/darius-soodmand-E-_I18oX5NQ-unsplash.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}



.signin-page {
  background: url("/static/img/carson-masterson-g-23pY-8I20-unsplash copy 2.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}



.form-sigin {
    background-color: transparent;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:10px;
    border:1px solid #fff;
    height: 400px;

  }



.form-update {
    background-color: transparent;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:10px;
    border:1px solid #fff;
    height: 400px;

  }


.update_form {
  background: url("/static/img/matthias-wagner-QrqeusbpFMM-unsplash.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}




/*--------------------------------*/


/*show page*/


#producer-img {
  height: 300px;
  border: solid 1px black;
}



.venue-update {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center center;
  background-size: cover;
  color: black;
}


.shows-update {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center center;
  background-size: cover;
  color: black;
}

.big-row-update{
  height: 120px;
}




.producer-box {
    background: url("/static/img/patterns/spiration dark.png") no-repeat center center;
    /*opacity: 0.3;*/
    color: white;
    padding:20px;
    border-radius:110px;
    border:1px solid #fff;
    height: 585px;
}




  .left-col-black {
  width: 25%;
  height: 100%;
  background-image: url("/static/img/patterns/spiration dark.png");
  color: white;
}


  .left-col {
  width: 220%;
  height: 1000%;
  background-image: url("/static/img/patterns/spiration-light.png");
  color: black;
}





.my-text{ 
  top:20px;          
  height:500px; 
  background: url("/static/img/patterns/spiration-light.png");
  border:1px solid #ccc;
  overflow:auto;
  color: black;
}




.producer-page {
  background: url("/static/img/patterns/spiration dark.png") no-repeat center center;
  background-size: cover;
  color: white;
}


.shows-page {
  background: url("/static/img/patterns/spiration-light.png") no-repeat center center;
  background-size: cover;
  color: black;
}

.shows-page-text{ 
  top:20px;          
  height:1100px; 
  background: url("/static/img/patterns/spiration dark.png");
  border:1px solid #ccc;
  overflow:auto;
  color: white;
}


.table {
border: transparent 1px !important;
}



.table td{
    border: transparent 1px !important;
}





.table th{
    border: transparent 1px !important;
}



/*--------------------------*/
/*Venue Page (vp)*/


.backgroud-vp {
  background: url("/static/img/patterns/spiration dark.png") no-repeat center;
  background-size: cover;
  color: white;
}


.top-container-vp {
  display: flex;
  height: 150px;
}




.user-name-container-vp{
  display: flex;
  height: 150px;
}




.top-links-container-vp{
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  height: 150px;
}





.top-line-vp {
  border: 1px solid white;
}




.text-container-vp{

  display: flex;

}



.text-mid-container-vp{

  display: flex;
  flex-direction: column;
  height: 300%;
  border-radius: 25px;
  box-shadow: 2px 4px 12px 2px #6c757d82, 0 6px 20px 0 #6c757d8c;

  margin-left: 15%;
  padding: 20px;        
  background-image: linear-gradient(45deg, #1d212478, #41474cbd);
  color: white;
}



.info-table-vp{

  padding: 150px;
}











.info-container-vp {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.info-column-vp {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}



.form-line-vp {
  border: 1px solid white;
}


.big-letter-M-White-vp{
font-size: 130%;
font-family: "Montserrat" sans-serif;
color: white;
}



.big-letter-M-White-vp{
font-size: 200%;
font-family: "Montserrat" sans-serif;
color: white;
}



.little-letter-info-vp{
 justify-content: space-between;

}



















